/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    width: 80%;
}

.jumbo_background {
    background-color: gainsboro;
    text-align: left;
    height: 300px;
}

.title {
    font-size: 72px;
}